<ion-content>
  <div class="card-container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title class="titulo">EduBook Mobile Digital</ion-card-title>
      </ion-card-header>
      <ion-row>
        <ion-col size="12" class="ion-padding ion-blue-bkg" *ngIf="!showLogin">
          <img src="../../../assets/icon/Logo.png" alt="Ionic logo" loading="lazy" class="logo-img" />
        </ion-col>
        <ion-col class="imagetwo" *ngIf="showLogin">
          <img src="../../../assets/icon/Logo.png" alt="Ionic logo" loading="lazy" class="logo-img" />
        </ion-col>
        <ion-col size="12" class="welcome">
          <ion-card-content class="card-content">

            <ion-button *ngIf="!showLogin" class="btn_login" expand="block" (click)="showLogin = true">
              Iniciar Sesión
            </ion-button>
            <div *ngIf="showLogin" class="login-form">
              <ion-item class="input-item">
                <ion-label position="floating">Usuario</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>

              <ion-item class="input-item">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>

              <ion-button class="btn_login_submit" expand="block" routerLink="/menu">
                Entrar
              </ion-button>
            </div>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
